<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Login to your account</h2>
                    <form>
                        <input ng-model="loginUser.email" type="email" placeholder="Email Address">
                        <input ng-model="loginUser.password" type="password" placeholder="Password">
                        <button ng-click="login()" class="btn btn-default">Login</button>
                    </form>
                </div>
                <!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="login-form">
                    <!--sign up form-->
                    <h2>New User Signup!</h2>
                    <form>
                        <input ng-model="registerUser.firstName" placeholder="First Name">
                        <input ng-model="registerUser.lastName" placeholder="Last Name">
                        <input ng-model="registerUser.email" type="email" placeholder="Email Address">
                        <input ng-model="registerUser.password" type="password" placeholder="Password">
                        <input ng-model="confirmation" type="password" placeholder="Password Confirmation">
                        <h2>Sign up as</h2>
                        <ul class="nav nav-tabs" style="border-bottom: 0px">
                            <li class="active"><a data-toggle="tab" ng-click="userType = true">Customer</a></li>
                            <li><a data-toggle="tab" ng-click="userType = false">Seller</a></li>
                        </ul>
                        <button ng-click="register()" class="btn btn-default">Signup</button>
                    </form>
                </div>
                <!--/sign up form-->
            </div>
        </div>
    </div>
</section>
<!--/form-->