<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Status</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a ng-click="filter('all')">ALL</a></h4>
                            </div>
                            <div class="panel-heading">
                                <h4 class="panel-title"><a ng-click="filter('request to cancel')">Request to cancel</a></h4>
                            </div>
                            <div class="panel-heading">
                                <h4 class="panel-title"><a ng-click="filter('paid')">Paid</a></h4>
                            </div>
                            <div class="panel-heading">
                                <h4 class="panel-title"><a ng-click="filter('canceled')">Canceled</a></h4>
                            </div>
                        </div>
                    </div>
                    <!--/category-productsr-->
                </div>
            </div>
            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Orders</h2>
                    <div ng-repeat="order in orders">
                        <div class="col-sm-6">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <p>Order No. {{order._id}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="col-sm-6">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <p>Status: {{order.status}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <p>Product Id</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <p>Amount</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-repeat="product in order.products">
                            <div class="col-sm-6">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <p>{{product._id}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <p>{{product.amount}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <p>Order Time: {{order.orderTime.slice(0,10)}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <p>Deliver Time: {{order.deliverTime.slice(0,10)}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <p>Total Price: {{order.price}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a ng-show="role == 'customer' && order.status == 'paid'" ng-click="cancel(order._id)" class="btn btn-default add-to-cart"><i class="fa fa-pencil-square-o"></i>Cancel</a>
                                        <a ng-show="role == 'seller'" ui-sref="app.seller.manage({id: order._id})" class="btn btn-default add-to-cart"><i class="fa fa-pencil-square-o"></i>Manage</a>
                                        <a ng-show="role == 'seller' && order.status == 'request to cancel'" class="btn btn-default add-to-cart" ng-click="approve(order._id)"><i class="fa fa-pencil-square-o"></i>Approve</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--features_items-->
            </div>
        </div>
    </div>
</section>