<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="left-sidebar">
          <div class="panel-group category-products">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a>{{seller.firstName}} {{seller.lastName}}</a>
                <br />
                <a>{{seller.email}}</a>
                <br />
                <a>{{seller.mobile}}</a>
              </div>
            </div>
          </div>
          <h2>Category</h2>
          <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a ng-click="categoryClick('all')">ALL</a>
                </h4>
              </div>
            </div>
            <div class="panel panel-default" ng-repeat="category in categories">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a ng-click="categoryClick(category)">{{category}}</a>
                </h4>
              </div>
            </div>
          </div>
          <!--/category-productsr-->
        </div>
      </div>
      <div class="col-sm-9 padding-right">
        <div class="row">
          <div class="search_box pull-right">
            <input type="text" placeholder="Search" ng-model="term" ng-keypress="search($event)" />
          </div>
        </div>
        <div class="features_items">
          <h2 class="title text-center">Products</h2>
          <div class="col-sm-4" ng-repeat="product in categoryProducts">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="images/pizza.jpg" alt="" />
                  <h2>$ {{product.price}}</h2>
                  <p>{{product.name}}</p>
                  <a class="btn btn-default add-to-cart" ng-click="buyClick(product)">
                    <i class="fa fa-heart"></i>Buy
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
