<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="login-form col-sm-4 col-sm-offset-1">
                <form>
                    <div class="view-product">
                        <img src="images/pizza.jpg" alt="" >
                        <br />
                        <div class="col-sm-offset-4">
                            <button class="btn btn-default" ngf-select ng-model="product.imageUrl">Upload Image</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-5">
                <div class="login-form">
                    <!--sign up form-->
                    <h2>New Product</h2>
                    <form>
                        <input ng-model="product.name" placeholder="Product Name">
                        <input ng-model="product.price" placeholder="Price">
                        <h2 ng-show="!flag">Choose a category</h2>
                        <ul ng-show="!flag" class="nav nav-tabs" style="border-bottom: 0px">
                            <li ng-repeat="category in categories"><a data-toggle="tab" ng-click="product.category = category">{{category}}</a></li>
                        </ul>
                        <input ng-show="flag" ng-model="product.category" placeholder="New Category">
                        <button ng-show="!flag" ng-click="flag = true" class="btn btn-default">Add</button>
                        <button ng-click="save()" class="btn btn-default">Save</button>
                    </form>
                </div>
                <!--/sign up form-->
            </div>
        </div>
    </div>
</section>
<!--/form-->