<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 padding-right">
        <div class="features_items">
          <h2 class="title text-center">Restaurants</h2>
          <div class="col-sm-4" ng-repeat="seller in sellerList">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img ui-sref="app.products.list({id: seller._id})" src="images/pizza.jpg" alt="" />
                  <a ui-sref="app.products.list({id: seller._id})" class="btn btn-default add-to-cart"><i class="fa fa-heart"></i>{{seller.firstName}} {{seller.lastName}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
