<header id="header" ng-show="!name">
  <!--header-->
  <div class="header_top">
    <!--header_top-->
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="contactinfo">
            <ul class="nav nav-pills">
              <li>
                <a>
                  <i class="fa fa-phone"></i> +2 95 01 88 821</a>
              </li>
              <li>
                <a>
                  <i class="fa fa-envelope"></i> swen90007@domain.com</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="social-icons pull-right">
            <ul class="nav navbar-nav">
              <li>
                <a>
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a>
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/header_top-->
  <div class="header-middle">
    <!--header-middle-->
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="logo pull-left">
            <a ui-sref="app.customer.index">
              <img src="images/home/logo.png" alt="" />
            </a>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="shop-menu pull-right">
            <ul class="nav navbar-nav">
              <li ng-show="role == 'seller'">
                <a ui-sref="app.seller.index">
                  <i class="fa fa-star"></i>Home</a>
              </li>
              <li ng-show="role == 'customer'">
                <a ui-sref="app.customer.index">
                  <i class="fa fa-star"></i>Home</a>
              </li>
              <li>
                <a ui-sref="app.shared.loginAndRegister">
                  <i class="fa fa-lock"></i> Login</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/header-middle-->
</header>
<!--/header-->
<header id="header" ng-show="name">
  <!--header-->
  <div class="header_top">
    <!--header_top-->
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="contactinfo">
            <ul class="nav nav-pills">
              <li>
                <a>
                  <i class="fa fa-phone"></i> +2 95 01 88 821</a>
              </li>
              <li>
                <a>
                  <i class="fa fa-envelope"></i> swen90007@domain.com</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="social-icons pull-right">
            <ul class="nav navbar-nav">
              <li>
                <a>
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a>
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/header_top-->
  <div class="header-middle">
    <!--header-middle-->
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="logo pull-left">
            <a ui-sref="app.customer.index">
              <img src="images/home/logo.png" alt="" />
            </a>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="shop-menu pull-right">
            <ul class="nav navbar-nav">
              <li ng-show="role == 'seller'">
                <a ui-sref="app.seller.index">
                  <i class="fa fa-star"></i>Home</a>
              </li>
              <li ng-show=" role == 'customer'">
                <a ui-sref="app.customer.index">
                  <i class="fa fa-star"></i>Home</a>
              </li>
              <li ng-show="role == 'seller'">
                <a ui-sref="app.seller.orders">
                  <i class="fa fa-star"></i>Orders</a>
              </li>
              <li ng-show="role == 'customer'">
                <a ui-sref="app.customer.orders">
                  <i class="fa fa-star"></i>Orders</a>
              </li>
              <li ng-show="role == 'customer'">
                <a ng-click="cartClick()">
                  <i class="fa fa-shopping-cart"></i>Cart</a>
              </li>
              <li>
                <a>
                  <i class="fa fa-user"></i>{{name}}</a>
              </li>
              <li>
                <a ng-click="logout()">
                  <i class="fa fa-sign-out"></i>Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/header-middle-->
</header>
<!--/header-->
<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Shopping Cart</h4>
      </div>
      <div class="modal-body">
        <p ng-repeat="product in cart.products">
          <label>Product : </label>{{product.product.name}}
          <label style="margin-left: 50px">Number: </label>{{product.number}}
          <!-- <button class="btn" type="button">
            <i class="fa fa-times"></i>
          </button> -->
        </p>
      </div>
      <div class="modal-footer">
      <label style="float: left; display: inline; margin-top: 20px; margin-right: 5px">Deliver Time:</label>
        <button type="button" class="btn btn-primary" daterangepicker="true" date="deliverTime" style="float: left"></button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="payClick()">Pay</button>
      </div>
    </div>
  </div>
</div>
